* {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(237, 237, 237);
}

#root {
  box-shadow: 7px 7px 19px -5px #00000098;
  background-color: white;
}
